.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: start;
  background-color: ghostwhite;
  font: 20px Georgia, Serif;
  grid-template-columns: 1fr 4fr;
}

.sidebar-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
}


.main-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 2em);
}

.menu {
  border-right: 5px solid black;
  display: grid;
}

.restaurantInfo {
  border-right: 5px solid black;
  text-align: center;
}

.account {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  border-right: hidden;
  transition: 0.5s;
}
.account:hover {
  transform: scale(1.05);
  background-color: darkgray;
  border: none;
}

.review {
  cursor: pointer;
  text-align: center;
  border: hidden;
  transition: 0.5s;
}
.review:hover{
  transform: scale(1.05);
  background-color: darkgray;
  border: none;
}
.logout {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  border-right: hidden;
  transition: 0.5s;
}
.logout:hover {
  transform: scale(1.05);
  background-color: darkgray;
  border: none;
}

.header-title {
  border-bottom: 2px solid black;
}

.body-container {
  padding: 50px;
  grid-column: 1/5;
}

.reviews {
  border: 1px solid black;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 77vh;
  display: grid;
  grid-auto-rows: 5em;
}

.reviewItem {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  transition: transform .5s;
}
.reviewItem:hover {
  transform: scale(1.05);
  border: none;
  background-color: darkgray;
}

img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
}

p{
   padding: 60px;
}

